<h1> Edit Photo <%= @photo_to_edit.id %> </h1>

<form action="/update_photo/<%= @photo_to_edit.id %>">
    <div>
        <label for="zebra"> Image URL </label>
        <input id="zebra" name = "the_url" type = "text" value="<%=@photo_to_edit.source%>">
    </div>
    
    <div>
        <label for="giraffe"> Caption </label>
        <input id="giraffe" name = "the_caption" type="text" value="<%=@photo_to_edit.caption%>">
    </div>
    
    <button> Update Photo </button>
    
</form>